/* removing default browser margins (also removes headers/footers of pages like the name and link to the page) */
@page {
	size:  auto;
	margin: 0mm;
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media print {
	.screen-only {
		display: none;
	}
}

/* logo */
@media screen {
	body {
		background: url(../logo/logo-plain.svg);
		background-repeat: no-repeat;
		background-size: 80px 80px;
		background-position: top right;
	}
}

/* base sections */
@media screen {
	body > section {
		padding: 1em;
		border-bottom: 1px solid black;
	}
}
@media screen {
	#cards > * {
		margin: 1em;
	}
}

/* fonts */
body,table {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page {
	font-family: 'Times New Roman', Times, serif;
}

/**
	Pages

	There is a requirement to have two cards on one page.
	So each card takes half of the screen.
*/
.page,
.page section {
	box-sizing: border-box;
}

/* division line */
.page {
	position: relative;
}
.page::before {
	box-sizing: border-box;
	display: block;
	position: absolute;
	border-bottom: 1px solid black;
	content: " ";
	width: 100%;
	top: 50%;
}

/* remove default p margin for first element *
.page section p:first-child {
	margin-top: 0;
	padding-top: 0;
}

/* page shadow emulation */
@media screen {
	.page {
		border: 1px outset #999;
		box-shadow:         5px 5px 5px #888;
		-moz-box-shadow:    5px 5px 5px #888;
		-webkit-box-shadow: 5px 5px 5px #888;
	}
}

/* main print layout */
@media print {
	.page {
		height: 100vh;
		/* for whatever reason adding a border here removes the 2nd page on Firefox */
		/* don't work for Chrome though... */
		border: 1px solid grey;
	}
	.page::before {
		/* 50vh block works better for positing border in print, especially for Firefox */
		height: 50vh;
		top: 0;
	}
	.page section {
		/* height need to be reduced by margins: (1 + 2 + 1) / 2 = 2 */
		height: calc(50vh - 2cm);
		/* 1cm is our page margin */
		/* min page margin is mentioned here: https://stackoverflow.com/a/3513476/333296 */
		margin: 1cm;

		/* border: 1px solid black; */
	}
	/* change margin to make top margin for both cards even */
	.page section:first-child {
		margin-bottom: 2cm;
	}
}

/* similar margins for screen */
@media screen {
	.page section {
		margin: 1cm;
	}
	.page section:first-child {
		margin-bottom: 2cm;
	}
}
